body
{
background-color:#436EEE;
}
h1
{
color:#F0FFFF;
font-size:40px;
font-family:"verdana";
text-align:center;
}
h2
{
color:#F0FFFF;
font-size:30px;
font-family:"verdana";
text-align:center;
}
h3
{
color:#F0FFFF;
font-size:20px;
font-family:"verdana";
text-align:center;
}
th
{
color:#000;
font-size:16px;
font-family:"verdana";
text-align:center;
}
td
{
text-align:center;
}
.txt
{
color:#000;
font-size:14px;
font-family:"verdana";
text-align:center;
}
.txt_inp
{
color:#000;
font-size:14px;
font-family:"verdana";
text-align:right;
}
.txt_rad
{
color:#000;
font-size:14px;
font-family:"verdana";
text-align:center;
}
.error
{
color:#8B1A1A;
font-size:14px;
font-family:"verdana";
text-align:center;
}
.subtable
{
background:#F0FFFF;
font-size:14px;
font-family:"verdana";
text-align:center;
float:top;

width:250px;
height:150px;

margin:10px;
border:15px outset #F0FFFF;
padding:5px;

}
.checkbox
{
text-align:left;
}
.alarm_table
{
background:#F0FFFF;
padding:8px;
}
.alarm_active
{
float:top;
background:#00FF00;
border:2px;
border-style:dotted;
border-color:black;
padding:4px;
}
.alarm_canceled
{
float:top;
background:#FFFF00;
border:2px;
border-style:dotted;
border-color:black;
padding:4px;
}
.alarm_failed
{
text-align:top;
background:#FF3030;
border:2px;
border-style:dotted;
border-color:black;
padding:4px;
}
.alarm_sent
{
float:top;
background:#004FFF;
border:2px;
border-style:dotted;
border-color:black;
padding:4px;
}
.header
{
font-weight:bold;
}
.title
{
font-weight:bold;
font-size:30px;
}
