body
{
background-color:#436EEE;
}
h1
{
color:#F0FFFF;
font-size:40px;
font-family:"verdana";
text-align:center;
}
h2
{
color:#F0FFFF;
font-size:30px;
font-family:"verdana";
text-align:center;
}
h3
{
color:#F0FFFF;
font-size:20px;
font-family:"verdana";
text-align:center;
}
th
{
color:#000;
font-size:16px;
font-family:"verdana";
text-align:center;
}
input
{
float:right;
}
.txt
{
color:#000;
font-size:14px;
font-family:"verdana";
text-align:center;
}
.txt_inp
{
color:#000;
font-size:14px;
font-family:"verdana";
text-align:right;
}
.error
{
color:#8B1A1A;
font-size:14px;
font-family:"verdana";
text-align:center;
}
.subtable
{
background:#F0FFFF;
font-size:14px;
font-family:"verdana";
text-align:center;
float:top;

width:250px;
height:150px;

margin:10px;
border:15px outset #F0FFFF;
padding:5px;

}
.checkbox
{
text-align:left;
}

